@using Dnc.MvcApp.Filters;
@model IEnumerable<Dnc.ViewModels.Article.ActorVM>
@{
    ViewBag.Title = "演员信息表";
    Layout = "_DNC";
}
<style>
    table tr td {
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    table tbody tr {
        max-height: 40px !important;
        overflow: hidden;
    }

    .form-control {
        width: 220px;
        display: inline-block;
    }

    .btn-success {
        width: 90px;
    }

    #formIndex {
        margin: 0 0 10px 35%;
    }
</style>    
<h2 class="sub-header">演员添加</h2>
<form id="formIndex" asp-controller="Movie" asp-action="MovieActorInsert"
      method="post">
    <input name="name" type="text" id="sub" class="form-control" placeholder="请输入账号">
    <button type="submit" class="btn btn-success">查询</button>
    <a asp-controller="Movie" asp-action="Create" class="btn btn-danger">返回</a>
</form>
<table class="table table-striped table-bordered">
    <tr>
        <th>演员名字</th>
        <th>别名</th>
        <th>出生地</th>
        <th>出生日期</th>
        <th>职业</th>
        <th>头像</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthplace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profession)
            </td>
            <td style="text-align:center;"><img src="@item.Photo" width="40" height="40" /></td>
            <td>
                <a  id="addacotr" href="javascript:void(0);"  onclick="aAddActor(@item.Id)">添加</a>
            </td>
        </tr>
    }
</table>
<pager pager-option="ViewBag.PagerOption as MoPagerOption"></pager>